<ion-view view-title="首页">
  <ion-content class="home">
    <ion-list>

      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>

      <h4>Use webpack build ionic mobile application.</h4>

      <h1>Hello Angular, Ionic</h1>

      <h2 ng-bind="vm.controller"></h2>


      <div class="padding">

      </div>


      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What's your name?" ng-model="vm.name">
        </label>
        <div class="item text-center" ng-if="vm.name">
          <p>Hello
            <span ng-bind="vm.name"></span>
          </p>
        </div>
      </div>

      <div class="my-box">
        <div class="inner-box"></div>
      </div>


      <div>
        <button class="button button-outline button-positive" ng-click="vm.sayHello()">
         click me say hello
      </button>
      </div>

      <div>
        <button class="button">
          <i class="icon ion-loading-c"></i> Loading...
        </button>
      </div>

      <div>
        <button class="button icon-left ion-home">Home</button>
      </div>

      <div>
        <button class="button icon-left ion-star button-positive">Favorites</button>
      </div>

      <div>
        <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
