@import '../../style/base.scss';
.home {
    .my-box {
        width: 300px;
        height: 300px;
        margin: 20px auto;
        background-color: $defaultBgColor;
        border: 2px solid #fff;
        box-shadow: 1px 1px 10px $boxShadow;
        display: flex;
        .inner-box {
            width: 50%;
            height: 50%;
            background-color: blue;
            margin: auto;
        }
    }
    .img-bg {
      width: 300px;
      height: 200px;
      background-size: cover;
      background-image: url("../../images/waterfall.jpeg");
    }
}
